{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/default_profile/IMG_3420.JPG')}}); height:60vh">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.css') }}">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mx-auto">
                <div class="page-heading">
                </div>
            </div>
        </div>
    </div>
    <div class="profile-section">
        <div class="profile-picture">
            {% if current_user %}
            <div class="profile-picture-image"
                 style="background-image: url('{{ url_for('static', filename='img/default_profile/IMG_34201.JPG') }}');">
            </div>
            {% else %}
            <div class="default-profile-picture">
                <i class="fa fa-user"></i>
            </div>
            {% endif %}
        </div>
        <h1>{{ current_user.name }}</h1>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='body') }}
                {{ wtf.quick_form(form, enctype="multipart/form-data", novalidate=True, button_map={"submit":
                "primary"}) }}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
{% endblock %}