{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('{% if user.wall %}{{ url_for('user_bp.wall_img', filename=user.wall) }}{% else %}{{ url_for('static', filename='img/default_profile/def_wall.jpg') }}{% endif %}'); height:70vh">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.css') }}">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mx-auto">
                <div class="page-heading">
                </div>
            </div>
        </div>
    </div>
    <div class="profile-section">
        <div class="profile-picture">
            <div class="profile-picture-image"
                 style="background-image: url('{% if user.profile %}{{ url_for('user_bp.profile_img', filename=user.profile) }}{% else %}{{ url_for('static', filename='img/default_profile/def_user.png') }}{% endif %}')">
            </div>
        </div>
        <h1>{{ user.name }}</h1>
    </div>
</header>

<!-- Main Content -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if user.about %}{{ user.about|safe }} <hr> {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="clearfix">
                    {% if current_user.id == user.id %}
                    <a class="btn btn-primary float-right"
                       href="{{url_for('user_bp.edit_user', user_id=current_user.id)}}">Edit
                        Profile
                    </a>
                    {% endif %}
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{post.author.name}}</a>
                        on {{post.date}}
                        {% if current_user.id in [1,2,3] or current_user.id == user.id %}
                        <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                        {% endif %}
                    </p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
{% endblock %}